@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    128deg,
    rgba(12, 12, 189, 1) 0%,
    rgba(8, 8, 208, 1) 30%,
    rgba(9, 87, 209, 1) 100%
  );
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background-color: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;

  h2 {
    font-size: 40px;
    color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    img {
      width: 60px;
      margin-left: 10px;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;

  input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-size: 1.3rem;
  }

  input::placeholder {
    font-size: 1rem;
  }

  button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: rebeccapurple;
    color: #fff;
    border-radius: 40px;
    font-size: 1.3rem;
    cursor: pointer;
  }
}

ul li {
  list-style: none;
  font-size: 20px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(/img/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

ul li.checked::before {
  background-image: url(/img/checkmark.png);
}

ul li span {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background-color: #edeef0;
}
